<!--=========== BEGIN SLIDER SECTION ================-->
    <section id="sliderArea">
      <!-- Start slider wrapper -->      
      <div class="top-slider">
        <!-- Start First slide -->
        <div class="top-slide-inner">
          <div class="slider-img">
            <img src="images/14.jpg" alt="">
          </div>
          <div class="slider-text">

            <h2> An<strong> Excellent Facilities  </strong>for you
              <% if user_signed_in? %>
                  <h2> <strong><%= current_user.username.capitalize %></strong></h2>
              <% end %>
            </h2>
           <h4><p> Facilities <strong>Neonatal,BloodBank,WellBabyClinics,</strong>HumanMilkBank</p></h4>
            <div class="readmore_area">
              <a data-hover="Read More" href="#"><span>Read More</span></a>                
            </div>
          </div>
        </div>
        <!-- End First slide -->
      
        <!-- Start 2nd slide -->
        <div class="top-slide-inner">
          <div class="slider-img">
            <img src="images/15.jpg" alt="">
          </div>
          <div class="slider-text">
            <h2><strong>Excellent Services For your Medical Problems</strong></h2>
           <h4> <p> <strong>Facilities are --WellBaby Clinics,BloodBanks,Human Milk Bank</strong></p></h4>
            <div class="readmore_area">
              <a data-hover="Read More" href="#"><span>Read More</span></a>                
            </div>
          </div>
        </div>
        <!-- End 2nd slide -->

        <!-- Start Third slide -->
        <div class="top-slide-inner">
          <div class="slider-img">
            <img src="images/7.jpg" alt="">
          </div>
          <div class="slider-text">
            <h2>An<strong> Excellent  Facilities </strong>for you</h2>
            <h4><p>Facilities are -- <strong>Neonatal,BloodBank,WellBaby Clinics,Human Milk Bank</strong></p></h4>
            <div class="readmore_area">
              <a data-hover="Read More" href="#"><span>Read More</span></a>                
            </div>
          </div>
        </div>
        <!-- End Third slide -->

        <!-- Start Fourth slide -->
        <div class="top-slide-inner">
          <div class="slider-img">
            <img src="images/12.jpg" alt="">
          </div>
          <div class="slider-text">
            <h2><strong>Excellent Services For your Medical Problems</strong></h2>
           <h4><p>Facilities --<strong> WellBaby Clinics,BloodBanks,Human Milk Bank</strong></p></h4>
            <div class="readmore_area">
              <a data-hover="Read More" href="#"><span>Read More</span></a>                
            </div>
          </div>
        </div>
        <!-- End Fourth slide -->

        <!-- Start Fifth slide -->
        <div class="top-slide-inner">
          <div class="slider-img">
            <img src="images/9.jpg" alt="">
          </div>
          <div class="slider-text">
            <h2><strong>An Excellent Facilities for you</strong></h2>
            <h4><p>Facilities --<strong> Neonatal,BloodBank,WellBaby Clinics,Human Milk Bank</strong></p></h4>
            <div class="readmore_area">
              <a data-hover="Read More" href="#"><span>Read More</span></a>                
            </div>
          </div>
        </div>
        <!-- End Fifth slide -->
      </div><!-- /top-slider -->
    </section>
    <!--=========== END SLIDER SECTION ================-->